<html>
    <head>

    </head>
    <body>
        <%for(var i=0;i<ram.Sheet1.length;i++){%>
           <a href="/user/<%=i%>"><%=ram.Sheet1[i]['Serial Number']%></a><br>
            
            <% }%>
            
    </body>
</html>